h1 {
	color: magenta;
	font-size: 50px;
	text-align: center;
}
#prog {
	color: red;
	font-size: 30px;
	opacity: 0.8;
	font-weight: bold;
	margin-top: 60px;
	text-align: center;
}
ul {
	color: hotpink;
	font-size: 20px;
	font-weight: bold;
}
#list {
	background-color: green;
	border: 5px solid black;
	width:  300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	overflow: auto;	
}
a:link, a:visited {
	text-decoration: none;
	background-color: green;
	border: 1px solid blue;
	color: black;
	display: block;
	width: 200px;
	text-align: center;
	margin-bottom: 10px;
}
a:hover, a:active {
	background-color: red;
	color: purple;
}
ul li:nth-child(odd):hover {
	background-color: gray;
	cursor: pointer;
}
footer {
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
}
img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
article {
	text-align: center;
}
.style {
	font-family: Arial, Helvetica, sans-serif;
	color: #ff0000;
	font-style: italic;
	font-weight: 900;
	font-size: 24px;
	text-align: justify;
}
#box {
	background-color: blue;
	padding: 10px 10px 10px 10px;
	border: 5px solid black;
	width:  300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	overflow: auto;
}
#content {
	background-color: #90EE90;
}
body {
	background-color: orange;
}
* {
	box-sizing: border-box;
}
#bg {
	width: 1300px;
	height: 820px;
	background-color: blue;
	margin: auto;
	margin-top: 40px;
	background: url("sneksnek.jpg") no-repeat center blue;
	font-size: 34px;
	color: aquamarine;
}
#float {
	background-color: #00FFFF;
	padding: 0px 10px 0px 10px;
	border: 5px solid black;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	position: relative;
}
#p1 {
	background-color: #A52A2A;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	position: relative;
	top: 65px;
	left: 65px;
}
#p2 {
	background-color: #DEB887;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
#p3 {
	background-color: #5F9EA0;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	position: absolute;
	top: 20px;
	left: 10px;
	margin-top: 0;
}
#p4 {
	background-color: #FF7F50;
	width: 50px;
	height: 50px;
	border: 1px solid black;
}
#tc {
	background-color: #00FFFF;
}
#tc > p {
	width: 50%;
	float: left;
	padding: 10px;
}
#queries {
	margin-bottom: 15px;
}
#queries > p{
	border: 2px solid black;
	margin-bottom: 15px;
}
#paragraph1 {
	background-color: #A52A2A;
	width: 300px;
	height: 300px;
}
#paragraph2 {
	background-color: #DEB887;
	width: 50px;
	height: 50px;
}

/*********** Large devices only ***********/
@media (min-width: 1200px) {
	#paragraph1 {
		width: 80%;
	}
	#paragraph2 {
		width: 150px;
		height: 150px;
	}
}

/*********** Medium devices only ***********/
@media (min-width: 900px) and (max-width: 1199px){
	#paragraph1 {
		width: 50%;
	}
	#paragraph2 {
		width: 100px;
		height: 100px;
	}
}